.container
    .jumbotron
        h1 MEAN
        p Welcome to MEAN! I'm learning node.js...

    .row
        .col-md-6
            div(ng-include="'/partials/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/new-courses'")